!!! XML
%html
%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %title NetBSD man translate
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-158383-4']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
%frameset{:cols => "26%,*"}
  %frame{:name => "tree", :src => "tree.html"} tree frame
  %frame{:name => "manpage", :src => "src/share/man/man9/uvm.9.ja.html"} manpage frame
